.nav-item .nav-link.sec-li-small2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: #005DAA;
}

.nav-item .nav-link.sec-li-small2:hover , a.dropdown-item.sec-li-smalln:hover {
    color: #FF6326;
}
a.dropdown-item.sec-li-smalln {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    text-transform: uppercase;
    color: #005DAA;
}

.sec-li-small3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    padding: 15px 35px;
    background: #FF6326;
    border-radius: 20px 0px;

}

.sec-p-m {
    padding: 0px 20px;
}

.sec-li-small3:hover {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
    padding: 15px 35px;
    background: #005DAA;
    border-radius: 20px 0px;

}

.sec-ul-display {
    display: flex;
    justify-content: end;
}

.sec-hero-bg {
    background-image: url(../images/bg-hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    padding: 60px 0px;
}

.sec-hero-h {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 123%;
    padding-top: 50px;
    color: #000000;
}

.sec-hero-p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

.sec-btn-header-bggg2 {
    margin-bottom: 150px;
}

.sec-li-22 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}

.sec-li-small4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    padding: 15px 35px;
    background: #FF6326;
    border-radius: 20px 0px;

}

.sec-li-small4:hover {
    color: #FFFFFF !important;
    background: #005DAA !important;
}

.sec-our-h {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 123%;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.sec-our-display {
    display: flex;
}

.sec-sol-h {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 123%;
    color: #000000;
    text-align: center;
    padding: 60px 0px;
}

.sec-solu-bg {
    background: #F4F4F4;
    height: 540px;
}

.sec-blo-h {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 123%;
    color: #000000;
    text-align: center;
}

.sec-hr {
    background: #FF6326;
    width: 20%;
    text-align: center;
    opacity: 1;
    margin: auto;
}

.secblo-pp {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #000000;
    margin: 0;
    padding-top: 30px;
}

.sec-li-small44 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    padding: 15px 35px;
    background: #FF6326;
    border-radius: 20px 0px;
}

.sec-li-small44:hover {
    color: #FFFFFF !important;
    background: #005DAA !important;
}

.sec-lat-bg {
    background-image: url(../images/our-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    padding-top: 60px;
}

.sec-lat-h {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 123%;
    color: #000000;
    text-align: center;
    margin: 0;
    padding: 120px 0px 20px 0px;
}

.sec-lat-bg2 {
    background-color: #BCEAFF;
}

.sec-lat-p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 123%;
    color: #000000;
    text-align: center;
    padding: 20px 0px 60px 0px;
}

.sec-lat-bg-3 {
    background-image: url(../images/how-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    padding: 125px 0px;
}

.sec-video-marg {
    margin-top: -436px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #FF6326 !important;
}

/* --------footer---------- */
.sec-footer-bg {
    background: #0080EA;
    padding: 30px 0px;
}

.sec-f-h {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 75px;
    color: #FFFFFF;
    text-align: right;
    margin: 0;

}

.sec-btn-pad {
    padding-top: 20px;
}

.sec-foot-btn {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    background: #FF6326;
    padding: 15px 30px;
}

.sec-footer-bg2 {
    background: #BCEAFF;
    padding: 80px 40px;
}

.sec-foote-hh {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 120%;
    color: #000000;

}

.sec-footee-pp {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 166.5%;
    color: #000000;

}

.sec-pade-icon {
    padding-top: 70px;
}

.sec-foote-hh2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    color: #000000;

}

.sec-icon-fot {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 167%;
    letter-spacing: 0.405em;
    color: #000000;

}

.sec-foot-men {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 190%;
    color: #000000;
    padding-bottom: 10px;

}

.sec-foot-add {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 179%;
    color: #000000;

}

.sec-map {
    width: 100%;
    height: 450px;
    border-radius: 20px;
    margin-top: 20px;
}

.sec-desp {
    display: flex;
    justify-content: center;
}

.sec-icon-bg {
    width: 128px;
    height: 128px;
    background: #F2F2F2;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    text-align: center;
    padding: 25px;
}

.sec-cin-icon {
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 179%;
    text-align: center;
    color: #FF6326;

}

.sec-cont-h {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 179%;
    text-align: center;
    color: #000000;
    padding-top: 15px;
}

.seccont-pp {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 179%;
    text-align: center !important;
    color: #000000;
}

.sec-cont-marg {
    margin-top: -55px;
    padding-bottom: 80px;
}

.sec-form-hh {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 123%;
    text-align: center;
    color: #000000;
}

.sec-contact-form {
    width: 75%;
    margin: auto;
}

.form-control {
    color: #495057;
    background-color: #F2F2F2 !important;
}

.sec-menu-btn2 {
    background: #FF6326;
    border-radius: 20px 0px;
    padding: 15px 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    margin-bottom: 50px;
}

.sec-menu-btn2:hover {
    background: #005DAA !important;
    color: #FFFFFF !important;
}


/* whatsapp */
a {
    text-decoration: none !important;
}

.floating_btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

@keyframes pulsing {
    to {
        box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
    }
}

.contact_icon {
    background-color: #42db87;
    color: #fff;
    width: 60px;
    height: 60px;
    font-size: 30px;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translatey(0px);
    animation: pulse 1.5s infinite;
    box-shadow: 0 0 0 0 #42db87;
    -webkit-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    font-weight: normal;
    font-family: sans-serif;
    text-decoration: none !important;
    transition: all 300ms ease-in-out;
}


.text_icon {
    margin-top: 8px;
    color: #707070;
    font-size: 13px;
}


.sec-about-bg {
    background-image: url(../images/about-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 189px 0px;
    margin-top: 20px;
}

.sec-aboy-her {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 123%;
    text-align: center;
    color: #FFFFFF;
}

.sec-img-text-p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 42px;
    color: #000000;
    padding-right: 50px;
}

.sec-dip-abot {
    display: inline-grid;
    align-content: center;
}

.sec-abut-last-p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 42px;
    text-align: center;
    color: #000000;
    padding: 30px 90px;
}

.sec-sol-bg {
    background-image: url(../images/sol-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 189px 0px;
    margin-top: 20px;
}

.sec-bef::before {
    content: "";
    background-image: url(../images/befor.png);
    position: absolute;
    top: 166px;
    left: 5px;
    width: 96%;
    height: 75px;
}
.sec-bef2::before {
    content: "";
    background-image: url(../images/befor.png);
    position: absolute;
    top: 166px;
    left: 5px;
    width: 99%;
    height: 75px;
}

.sec-proj-bg {
    background-image: url(../images/prog-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 189px 0px;
    margin-top: 20px;
}

.sec-prog-p {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;
    font-size: 30px;
    line-height: 170%;
    text-align: center;
    color: #000000;
    padding: 40px 0px;
}

.sec-prog-p2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 170%;
    text-align: center;
    color: #000000;
}

.sec-blogg-mm {
    width: 70%;
    float: right;
    padding-bottom: 50px;
}

.sec-blogg-mm2 {
    width: 70%;
    float: left;
    padding-bottom: 50px;
}

.sec-b-bg {
    background: #F2F2F2;
    padding: 20px;
}

.secbp-h {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 123%;
    color: #043281;
}

.secbp-p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: #000000;
}

.secbp-btn {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 29px;
    color: #000000;
}

.sec-proj-btn {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    background: #FF6326;
    border-radius: 20px 0px;
    padding: 15px 30px;
}

.sec-why-bg {
    background-image: url(../images/why-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 189px 0px;
    margin-top: 20px;
}

.sec-prog-wp {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 123%;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
    padding: 50px 0px;
}

.sec-bord-so {
    background: #FFFFFF;
    border: 1px solid #CFCFCF;
    border-radius: 35px;
    padding: 40px;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}

.border-sec {
    border-right: 1px solid #CFCFCF;
}

.sec-slo-ph {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 123%;
    color: #000000;

}

.sec-sol-php {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
    margin: 0;
}

.sec-punj-h {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 123%;
    text-transform: capitalize;
    color: #000000;

}

.sec-punj-p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 200%;
    color: #000000;
}

.sec-te-colo {
    background: #005DAA;
    color: #fff;
    font-family: 'Poppins' !important;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 123%;
}

.sec-te-colo2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    background: #e5eff7 !important;
}
.sec-te-colo3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    background: #b3cee6 !important;
}
.sec-pun-colo-p{
    
color: #FF6326;
}
.sec-img-he{
    height: 240px;
}
.sec-slor-p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 200%;
color: #000000;
}
.sec-slor-p2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 200%;
    color: #000000;
}
.sec-img-rev{
    border-radius: 50%;
    width: 200px !important;
    height: 200px;
    margin: auto !important;
}
.sec-slder-bg-rev{
    background-image: url(../images/revew.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 55px 30px 30px 30px ;  
    margin-top: -50px;
}
.sec-rev-h{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 123%;
    color: #000000;
    padding-top: 10px;
}
.sec-rev-p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 123%;
    text-align: center;
    color: #000000;
}
.sec-rev-p2{
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    color: #000000;
}
.sec-video-w{
    width: 60%;
}
.sec-howw-bg{
    background-image: url(../images/how-bg2.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 189px 0px;
    margin-top: 20px;
}
.sec-sol-plant-bg{
    background-image: url(../images/Solar-Power-Plant.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 189px 0px;
    margin-top: 20px;
}
.sec-sol-water-bg{
    background-image: url(../images/Solar-Water-Pump-bgg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 189px 0px;
    margin-top: 20px;
}
.sec-pet-pump-bg{
    background-image: url(../images/pet-pump.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 189px 0px;
    margin-top: 20px;
}
.sec-water-hea-bg{
    background-image: url(../images/Solar-water-heater-bgg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 189px 0px;
    margin-top: 20px;
}